.faucet-claim {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}
  
.faucet-input {
    width: 90%;
    max-width: 800px;
    padding: 1rem;
    font-size: 1.25rem;
    border: 2px solid #ffbd02;
    border-radius: 6px;
    outline: none;
    margin-bottom: 1.5rem;
    background: #efefef;
}
  
.faucet-button {
    padding: 1rem 3rem;
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
    background: linear-gradient(to right, #f2b200, #ffbd02);
    border: none;
    border-radius: 999px;
    cursor: pointer;
}

.coupon-button {
    padding: 1rem 1rem;
    /* font-size: 1.25rem; */
    /* font-weight: bold; */
    color: #775700;    
    cursor: pointer;
    text-decoration: none;
}
  
.faucet-button:hover {
    background: linear-gradient(to right, #ffcc00, #ffaa00);
}
  